<nav class="navbar navbar-expand-lg navbar-light bg-light" style= "background-color:rgb(214, 121, 67);" >
    <div class="container-fluid" >
      <a class="navbar-brand" href="#">
      <img src="https://t3.ftcdn.net/jpg/00/81/79/74/240_F_81797465_kYNQUZu3Dg9jllsULetBRl7zxYswebdF.jpg" alt="" height="30">My Routine</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="row" >
            <a class="nav-link active" aria-current="page" href="#" routerLink="/">Home</a>
            <a class="nav-link active" aria-current="page" href="#" routerLink="/login">Login</a>
            <a class="nav-link active" aria-current="page" href="#" (click)="logout()">Logout</a>
            <a class="nav-link active" aria-current="page" href="#" routerLink="/register">Register</a>

          </li>
       

        
        </ul>
        
        <!-- form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        < /form //-->
    
      </div>
      
   
    </div>
  </nav>